<div class="sidebar-nav">
  <ul class="nav nav-tabs nav-stacked">
    <li class="active"><span><i class="icon-fire"></i><%= link_to "Mi cocina", "#mi_perfil"  %></span></li>
    <li><span><i class="icon-ok-sign"></i><%= link_to "Sugerencia del día", "#sugerencia_dia"  %></span></li>
    <li><span><i class="icon-search"></i><%= link_to "Buscador de recetas", "#buscador"  %></span></li>
    <li><span><i class="icon-star"></i><%= link_to "Chefs", "#chefs"  %></span></li>
    <li><span><i class="icon-bell"></i><%= link_to "Concursos", "#concursos"  %></span></li>
  </ul>
</div><!--/.well -->